<!--Page Title -->
<div class="page-title-bar">
  <div class="row">
    <div class="col-xs-6"><h2>Developers</h2></div>
    <div class="col-xs-6">
      <div class="add-new-btn">
        <a href="<%= new_admin_developer_path %>"><img src="/dashboard/images/add-new-icon.png" alt="Add"> Add New</a>
      </div>
    </div>
  </div>
</div>
<!-- Page Breadcrumb -->
<div class="page-breadcrumb">
  <div class="row">
    <div class="col-sm-7">
      <a href="<%= admin_path %>" class="back-angle"><i class="fa fa-long-arrow-left"></i> Back To Dashboard</a>
    </div>
    <div class="col-sm-5">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= admin_path %>">Dashboard</a></li>
        <li class="breadcrumb-item active">Developers</li>
      </ol>
    </div>
  </div>
</div>
<div class="start-content">
  <div class="view-category">
    <div class="row">
      <% @developers.each do |developer| %>
      <div class="col-md-3 col-sm-6">
        <div class="main-view-item">
          <div class="view-header">
            <span><%= link_to developer.name, admin_developer_path(developer) %></span>
          </div>
          <div class="view-body">
            <ul>
              <li><p>ID</p> <span><%= developer.try(:id) %></span></li>
              <li><p>Name</p> <span><%= developer.try(:name) %></span></li>
            </ul>
          </div>
          <div class="view-footer">
            <a href="<%= edit_admin_developer_path(developer) %>" class="edit"><i class="fa fa-pencil"></i>Edit</a>
            <%= link_to admin_developer_path(developer), method: :delete, data: {confirm: "Are you sure?"} do %>
            <i class="fa fa-trash"></i>Delete
            <% end %>
          </td>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
    <% unless cookies[:layout] == 'new' %>
      <%= render partial: 'shared/pagination_section',locals: { collection: @developers }  %>
    <% end %>
</div>
