<%# content_for :search_bar do %>
  <%#= render partial: './shared/search_bar', locals: { search_title: 'Facebook Pixel', q: @q, path: admin_facebook_pixels_path } %>
<%# end %>

<div class="page-title-bar">
  <div class="row">
    <div class="col-xs-6">
      <h2>
        <img src="/dashboard/images/icon2.png" alt=""> Shops
      </h2>
    </div>
    <div class="col-xs-6">
      <div class="add-new-btn">
        <% if @general_analytic == 'true' %>
          <a href="" data-toggle="tooltip" data-placement="bottom" title="You can't add new analytics since you're using a general one, Please remove it first!"><img src="/dashboard/images/add-new-icon.png" alt="Add"> Add New</a>
        <% else %>
          <a href="<%= new_admin_google_analytic_path %>"><img src="/dashboard/images/add-new-icon.png" alt="Add"> Add New</a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="page-breadcrumb">
  <div class="row">
    <div class="col-sm-7">
      <!--
        <a href="javascript:void(0)" class="back-angle"><i class="fa fa-long-arrow-left"></i> Back to Point Manager</a>>
      -->
    </div>
    <div class="col-sm-5">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= admin_path %>">Dashboard</a></li>
        <li class="breadcrumb-item active">Google Analytics</li>
      </ol>
    </div>
  </div>
</div>

<div class="start-content">
  <div class="shops">
    <div class="row">
      <% @google_analytics.order(id: :asc).each do |google_analytic| %>
        <div class="col-md-3 col-sm-6">
          <div class="main-view-item centerd">
            <div class="view-header">
              <% if @general_analytic == 'true' %>
                <span><%= link_to 'General Analytic', admin_google_analytic_path(google_analytic) %></span>
              <% else %>
                <span><%= link_to google_analytic.shop.name, admin_google_analytic_path(google_analytic) %></span>
              <% end %>
            </div>
            <div class="view-body">
              <ul>
                <li><p>Shop</p> <span><%= google_analytic.general? ? 'All Stores' : google_analytic.shop.name %></span></li>
                <li><p>Tracking ID</p> <span><%= google_analytic.tracking_id %></span></li>
                <li><p>Created</p> <span><%= time_ago_in_words(google_analytic.created_at) %> ago.</span></li>
              </ul>
            </div>
            <% unless current_admin %>
            <div class="view-footer">
              <a href="<%= edit_admin_google_analytic_path(google_analytic) %>" class="edit"><i class="fa fa-pencil"></i>Edit</a>
                <%= link_to admin_google_analytic_path(google_analytic), method: :delete, data: {confirm: "Are you sure?"}, class: "delete" do %>
                <i class="fa fa-trash"></i>Delete
                <% end %>
            </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(window).on('load', function () {
    $('#createBrand').modal('show');
  });

  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  });
</script>
