<div class="page-title-bar">
  <div class="row">
    <div class="col-xs-6">
      <h2>
        <%= image_tag('/dashboard/images/icon2.png') %>Section Scenes
      </h2>
    </div>
    <div class="col-xs-6">
      <div class="add-new-btn">
        <% unless current_admin %>
          <a href="<%= new_admin_shop360_shop_floor_shop_section_scene_path(@shop360, @shop_floor, @shop_section) %>"><%= image_tag("/dashboard/images/add-new-icon.png") %> Add New</a>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="page-breadcrumb">
  <div class="row">
    <div class="col-sm-7">
      <!--
        <a href="javascript:void(0)" class="back-angle"><i class="fa fa-long-arrow-left"></i> Back to Point Manager</a>>
      -->
    </div>
    <div class="col-sm-5">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="<%= admin_path %>">Dashboard</a></li>
        <li class="breadcrumb-item active">Scenes</li>
      </ol>
    </div>
  </div>
</div>

<div class="start-content">
  <div class="shops">
    <% @scenes.each_slice(4) do |scenes| %>
      <div class="row">
        <% scenes.each do |scene| %>
          <div class="col-md-3 col-sm-6">
            <div class="main-view-item centerd">
              <div class="view-header">
                <span><%= scene.name %></span>
              </div>
              <div class="view-body">
                <ul>
                  <li><span><%= image_tag(scene.image.thumb.url, class: 'scene-preview') %></span></li>
                </ul>
                <div class="buttons">
                  <%= link_to 'Manage 360 Store', shop360ms_admin_shops_path(@shop360.shop), class: "btn btn-md btn-info", target: '_blank' %>
                </div>
                <div class="view-footer">
                  <%= link_to edit_admin_shop360_shop_floor_shop_section_scene_path(@shop360, @shop_floor, @shop_section, scene) do %>
                    <button class="btn btn-md btn-success"><i class="fa fa-plus"></i>Edit Floor</button>
                  <% end %>
                  <%= link_to admin_shop360_shop_floor_shop_section_scene_path(@shop360, @shop_floor, @shop_section, scene) , method: :delete, data: { confirm: 'Are you sure?' } do %>
                    <button class="btn btn-md btn-danger"><i class="fa fa-plus"></i>Delete Floor</button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
