<% content_for :bc_title do %>
  Organizations
<% end %>

<% content_for :bc_current do %>
  All Organizations
<% end %>

<% content_for :bc_buttons do %>
  <a href="<%= new_admin_organization_path %>"><button type="button" class="btn btn-info"><i class="fa fa-plus-circle"></i> New Organization</button></a>
<% end %>

<%= render 'shared/breadcrumb' %>

<div class="card">
  <div class="card-body">
    <h4 class="card-title">Organizations</h4>
    <div class="table-responsive m-t-40">
      <table id="myTable" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Created</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @organizations.newest_first.each do |organization| %>
            <tr>
              <td><%= organization.id %></td>
              <td><%= organization.name %></td>
              <td><%= organization.description.truncate(20) %></td>
              <td><%= organization.type %></td>
              <td><%= time_ago_in_words(organization.created_at) %> ago</td>
              <td>
                <a href="<%= edit_admin_organization_path(organization) %>" data-toggle="tooltip" data-original-title="Edit"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                <a href="<%= admin_organization_path(organization) %>" data-method="delete" data-toggle="tooltip" data-original-title="Delete" data-confirm="Are you sure?"> <i class="fa fa-close text-danger"></i> </a>
              </td>
						</tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
	$(function() {
		$('#myTable').DataTable();
		var table = $('#example').DataTable({
			"columnDefs": [{
				"visible": false,
				"targets": 2
			}],
			"order": [
				[2, 'asc']
			],
			"displayLength": 25,
			"drawCallback": function(settings) {
				var api = this.api();
				var rows = api.rows({
						page: 'current'
				}).nodes();
				var last = null;
				api.column(2, {
						page: 'current'
				}).data().each(function(group, i) {
					if (last !== group) {
						$(rows).eq(i).before('<tr class="group"><td colspan="5">' + group + '</td></tr>');
						last = group;
					}
				});
			}
		});
		// Order by the grouping
		$('#example tbody').on('click', 'tr.group', function() {
			var currentOrder = table.order()[0];
			if (currentOrder[0] === 2 && currentOrder[1] === 'asc') {
				table.order([2, 'desc']).draw();
			} else {
				table.order([2, 'asc']).draw();
			}
		});
	});
</script>
