<div class="start-content">
  <div class="add-products">
    <div class="row">
      <div class="col-md-12">
        <% if @result.class != ProductRepository %>
          <div>
            <strong>Scans Limit: <%= @response.headers[:x_ratelimit_limit] %></strong>
            <br/>
            <strong>Scans Remaining: <%= @response.headers[:x_ratelimit_remaining] %></strong>
          </div>
          <br/>
        <% end %>
        <div class="col-lg-6">
          <%= form_for [:admin, @product], html: { class: 'form-horizontal group-border-dashed', help: :block } do |f| %>
            <div class="form-group">
              <label class="control-label">Name<span class="required">*</span></label>
              <%= f.text_field :name, value: @result.class == ProductRepository ? @result.name : @result["title"], required: true , class:"form-control"%>
            </div>
            <%= f.hidden_field :brand_id, value: @brand.id %>
            <div class="form-group">
              <label class="control-label">Category<span class="required">*</span></label>
              <%= f.select :category_id, option_groups_from_collection_for_select(Category.all, :children, :name, :id, :name), 
              {prompt: 'Please select ...' }, required: true, id:'category_list', class:"form-control select2"%>
            </div>
            <% if @brand.stock_management == "global" %>
              <div class="form-group">
                <label class="control-label">Barcode<span class="required">*</span></label>
                <%= f.text_field :barcode, value: @result.class == ProductRepository ? @result.barcode : (@result["upc"] ? @result["upc"] : @result["ean"]), readonly: true,required: true , class:"form-control"%>
              </div>
            <% end %>
            <div class="form-group">
              <label class="control-label">Description<span class="required">*</span></label>
              <%= f.text_area :description, value: @result["description"], required:true , :col=>48,:row=>3, class:"form-control"%>
            </div>
            <% if @brand.stock_management == "global" %>
              <div class="row form-group">
                <div class="col-md-4 form-group">
                  <label>Available Colors</label>
                  <%= f.text_field :colors, placeholder: "Red Green Blue", class:"form-control" %>
                </div>
                <div class="col-md-4 form-group">
                  <label>Available Sizes</label>
                  <%= f.text_field :sizes, placeholder: "M L XL XXXL", class:"form-control" %>
                </div>
                <div class="col-md-4 form-group">
                  <label>Available Quantity</label>
                  <%= f.number_field :quantity, min:0, class:"form-control", value: 0 %>
                </div>
              </div>
            <% end %>
            <!--
            <div class="form-group">
              <label class="control-label">EAN (Optional)</label>
              <%#= f.text_field :ean, value: @result.class == ProductRepository ? @result.ean : @result["ean"], readonly: true, class:"form-control"%>
            </div>
            -->
            <div class="form-group">
              <label class="control-label">Cover Image<span class="required">*</span></label>
              <div class="row">
                <div class="col-lg-6">
                  <br/>
                  <input onclick="keepCurrentCover()" type="radio" name="coverImage" value="keepCover" id="keepCurrentCoverRadio" checked>
                  <label for="keepCurrentCoverRadio" class="control-label">Keep this cover image</label>
                  <br/>
                  <input onclick="uploadNewCover()" type="radio" name="coverImage" value="uploadCover" id="uploadNewCoverRadio">
                  <label for="uploadNewCoverRadio" class="control-label">Upload new cover image</label>
                </div>
                <div class="col-lg-6">
                  <%= f.hidden_field :temp_image, :value => @result.class == ProductRepository ? @result.temp_image : @result["images"][0] %>
                  <div id="sem-cover-image">
                    <%= image_tag @result.class == ProductRepository ? (@result.temp_image if @result.temp_image) : @result["images"][0], style: 'height:100px;width:100px;' %>
                  </div>
                  <br/>
                  <div id="upload-new-cover">
                    <% if @product.cover_image? %>
                      <%= image_tag @product.cover_image_url, style: 'height:100px;width:100px;' , id:"cover_image_preview"%><br/>
                      <%= f.file_field :cover_image %>
                    <% elsif (@result.temp_image if @result.class == ProductRepository) || (@result["images"][0] if @result.class != ProductRepository) %>
                      <%= f.file_field :cover_image %>
                    <% else %>
                      <%= f.file_field :cover_image, required: true %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <% if @brand.stock_management == "global" %>
              <div class="form-group">
                <label class="control-label">VR Slider</label>
                <%= f.file_field :vr_slider, multiple: true%>
              </div>
              <div class="form-group">
                <label class="control-label">Price<span class="required">*</span></label>
                <%= f.number_field :price, min:0, value: 0, required:true, class:"form-control", :step => 'any'%>
              </div>
              <div class="form-group">
                <label class="control-label">Discount</label>
                <%= f.number_field :discount, min:0, value:0, class:"form-control", :step => 'any'%>
              </div>
            <% else %>
              <%= f.hidden_field :price, value: 0 %>
              <%= f.hidden_field :discount, value: 0 %>
            <% end %>
            <!--
            <h4 style="font-weight: bold">AR View</h4>
            <p>AR view is available once the product is saved, Check Products index.</p>
            -->
            <div class="form-group">
              <%= f.submit "submit", class: "btn btn-lg btn-info" %>
              <%= link_to 'cancel', admin_products_path, :class => 'btn btn-lg btn-danger' %>
            </div>
          <% end %>
        </div><!-- end col -->
      </div><!-- end row -->
    </div>
  </div><!-- end col -->
</div>
