<%= form_for :subscribed_user,url: { controller: 'admin/subscribed_users', action: 'create'  }  do |f| %>
    <div class="input-item">
        <%= f.email_field :email, required: true, class: 'form-control', placeholder:'Your Email' %>
        <%= f.hidden_field :shop_id,value: shop, required: true, class: 'form-control', placeholder:'Your Email' %>
        <%= f.hidden_field :organization_id,value: org, required: true, class: 'form-control', placeholder:'Your Email' %>
        <%= f.submit "Subscribe", class: "subscribe-btn" %>
    </div>
<% end %>
