<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Page title -->
      <title>Create your brand</title>
      <!-- /Page title -->
      <!-- CSS Files -->
      <!-- Place favicon.ico in the root directory -->
      <%= stylesheet_link_tag 'old_dashboard', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'old_dashboard', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
      <%= yield :stylesheets_includes %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
