<!doctype html>
<html lang="">
<head>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Nasnav</title>

<%= favicon_link_tag 'favicon.png' %>
<script src="https://use.fontawesome.com/e57dff1861.js"></script>

<!-- Place favicon.ico in the root directory -->
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
<%= stylesheet_link_tag 'buildings', media: 'all', 'data-turbolinks-track' => true %>

<%= csrf_meta_tags %>
<%= yield :stylesheets_includes %>

</head>
<body id="mapPage">

    <%=yield%>


    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= yield :javascript_includes%>


  </body>
</html>
