<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Page title -->
    <title>Dashboard - Nasnav</title>
    <!-- /Page title -->
    <!-- CSS Files -->
    <!-- Place favicon.ico in the root directory -->
    <%= stylesheet_link_tag 'old_dashboard', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'old_dashboard', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= yield :stylesheets_includes %>
  </head>
  <body>
    <div class="wrapper">
      <!-- Sidebar Holder -->
      <nav id="sidebar" class="">
        <div class="sidebar-header">
          <div class="logo">
            <a href="<%= admin_dashboard_path %>">
              <img src="/dashboard/images/logo.png" alt="Logo">
            </a>
          </div>
          <% unless current_admin %>
            <div class="user-panel">
                <div class="shop-brand">
                    <%= image_tag(current_active_user.brands.first.logo_url, style: 'max-height: 28px;') if current_active_user.brands.present? %>
                    <span><a>For</a> <%= current_active_user.brands.first.try(:name).humanize if current_active_user.brands.present? %></span>
                </div>
            </div>
          <% end %>
          <!-- Render Sidebar services -->
          <%= render 'shared/sidebar' %>
        </div>
      </nav>
      <!-- Page Content Holder -->
      <div id="content">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
              <i class="fa fa-align-left"></i>
              <!--<span>Toggle Sidebar</span>-->
            </button>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <%= yield :search_bar %>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <a href="#" class="toggle-dropdown"><i class="fa fa-bell-o"></i></a>
                <div class="dropdown-menu dropdown-menu-right animated bounceInDown">
                  <ul>
                    <li>
                      <div class="drop-title">Notifications</div>
                    </li>
                    <li>
                      <div class="message-center">
                        <!-- Message -->
                        <a href="#">
                          <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                          <div class="mail-contnet">
                          <h5>Luanch Admin</h5> <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span> </div>
                        </a>
                        <!-- Message -->
                      </div>
                    </li>
                    <li>
                      <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="<%= admin_guides_path %>" class="toggle-dropdown"><img src="/dashboard/images/info-icon.png" alt="">Guides</a>
                <div class="dropdown-menu dropdown-menu-right animated bounceInDown">
                  <ul>
                    <li>
                      <div class="drop-title">Notifications</div>
                    </li>
                    <li>
                      <div class="message-center">
                        <!-- Message -->
                        <a href="#">
                          <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                          <div class="mail-contnet">
                          <h5>Luanch Admin</h5> <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span> </div>
                        </a>
                      </div>
                    </li>
                    <li>
                      <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                    </li>
                  </ul>
                </div>
              </li>
              <li>
                <a href="#" data-toggle="modal" data-target="#password_modal"><img src="/dashboard/images/sidebar-icons/profile_close_add copy.png" alt="">Change Password</a>
                <!-- Modal -->
                <div class="modal fade" id="password_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">Change your password</h4>
                      </div>
                      <%= form_tag admin_change_password_path do %>
                        <div class="modal-body">
                          <div class="form-group">
                            <label>Old password</label>
                            <br/>
                            <%= password_field_tag :old_password, '', placeholder: 'Old password...', required: true %>
                          </div>
                          <div class="form-group">
                            <label>Old password</label>
                            <br/>
                            <%= password_field_tag :new_password, '', placeholder: 'New password...', required: true %>
                          </div>
                          <div class="form-group">
                            <label>Old password</label>
                            <br/>
                            <%= password_field_tag :confirm_new_password, '', placeholder: 'Confirm new password...', required: true %>
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <%= submit_tag 'Change Password', class: 'btn btn-primary' %>
                        </div>
                      <% end %>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
              </li>
              <li>
                <% if current_admin %>
                  <%= link_to destroy_admin_session_path, method: :delete do %>
                    <img src="/dashboard/images/logout-icon.png" alt="">Logout
                  <% end %>
                <% elsif current_organization_manager %>
                  <%= link_to destroy_organization_manager_session_path, method: :delete do %>
                    <img src="/dashboard/images/logout-icon.png" alt="">Logout
                  <% end %>
                <% elsif current_employee_user %>
                  <%= link_to destroy_employee_user_session_path, method: :delete do %>
                    <img src="/dashboard/images/logout-icon.png" alt="">Logout
                  <% end %>
                <% end %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <div class="main-content">
        <div class="campaign">
          <%= render partial: "shared/flash_messages", flash: flash %>
          <%= yield %>
          <% if Rails.env.development? %>
            <br/>
            <%= debug(params) %>
          <% end %>
        </div>
      </div>
    </div>
    <%= yield :javascript_includes %>
  </body>
</html>
